In [46]:
import findspark
findspark.init()

In [47]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark import SparkContext, SQLContext
from random import randint

In [48]:
spark = SparkSession \
                .builder \
                .master("local[*]")\
                .appName("Exercicio Intro") \
                .getOrCreate()

In [50]:
df_nomes = spark.read.text('/mnt/c/Users/Pichau/Documents/Cursos-Online/trainee-repo-template/Sprint 8/exercicios/tarefa_3/nomes_aleatorios.txt')
df_nomes.show(5)

In [52]:
df_nomes.printSchema()

root
 |-- value: string (nullable = true)

In [53]:
df_nomes2 = df_nomes.withColumnRenamed('value', 'Nomes')

In [54]:
df_nomes2.printSchema()

root
 |-- Nomes: string (nullable = true)

In [55]:
df_nomes2.show(10)

+-----------------+
|            Nomes|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

In [56]:
df_nomes = df_nomes2.withColumn('Escolaridade', expr("array('Fundamental', 'Medio', 'Superior')[int(rand()*3)]"))

In [57]:
df_nomes.show()

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
|   Frances Bennet| Fundamental|
|    Jamie Russell|    Superior|
|   Edward Kistler|    Superior|
|    Sheila Maurer| Fundamental|
| Donald Golightly| Fundamental|
|       David Gray|    Superior|
|      Joy Bennett|       Medio|
|      Paul Kriese|       Medio|
|Berniece Ornellas| Fundamental|
|    Brian Farrell|    Superior|
|   Kara Mcelwaine|       Medio|
|    Tracy Herring|    Superior|
|  Howard Lazarine| Fundamental|
|     Leroy Strahl|    Superior|
|     Ernest Hulet| Fundamental|
|     David Medina|    Superior|
|   Lorenzo Woodis| Fundamental|
|      Page Marthe| Fundamental|
|   Herbert Morris| Fundamental|
|      Albert Leef|       Medio|
+-----------------+------------+
only showing top 20 rows

In [58]:
df_nomes = df_nomes.withColumn('Pais', expr("array('Argentina', 'Bolívia', 'Brasil', 'Chile', 'Colômbia', 'Equador', 'Guiana', 'Paraguai', 'Peru', 'Suriname', 'Uruguai', 'Venezuela')[int(rand()*12)]"))

In [59]:
df_nomes.show(30)

+-----------------+------------+---------+
|            Nomes|Escolaridade|     Pais|
+-----------------+------------+---------+
|   Frances Bennet| Fundamental|   Brasil|
|    Jamie Russell|    Superior|  Uruguai|
|   Edward Kistler|    Superior| Colômbia|
|    Sheila Maurer| Fundamental| Paraguai|
| Donald Golightly| Fundamental| Paraguai|
|       David Gray|    Superior|  Uruguai|
|      Joy Bennett|       Medio| Colômbia|
|      Paul Kriese|       Medio|  Equador|
|Berniece Ornellas| Fundamental|Venezuela|
|    Brian Farrell|    Superior|   Brasil|
|   Kara Mcelwaine|       Medio| Paraguai|
|    Tracy Herring|    Superior|  Bolívia|
|  Howard Lazarine| Fundamental| Suriname|
|     Leroy Strahl|    Superior| Colômbia|
|     Ernest Hulet| Fundamental|   Brasil|
|     David Medina|    Superior| Suriname|
|   Lorenzo Woodis| Fundamental|Argentina|
|      Page Marthe| Fundamental|   Guiana|
|   Herbert Morris| Fundamental|Argentina|
|      Albert Leef|       Medio|   Guiana|
|     Charles Hill|       Medio|  Bolívia|
|  Helen Blackwell|       Medio|   Brasil|
|          Lois Ly|       Medio|Venezuela|
|     Rebecca Snow| Fundamental|   Guiana|
|      Frank Wiley| Fundamental|     Peru|
| Wallace Mitchell| Fundamental|Venezuela|
|   Amanda Gravitt|       Medio| Colômbia|
|   Gabriel Colyer|       Medio| Colômbia|
|         Mary Lee| Fundamental|  Bolívia|
|       Daryl Page|    Superior|    Chile|
+-----------------+------------+---------+
only showing top 30 rows

In [60]:
df_nomes = df_nomes.withColumn("AnoNascimento", floor(rand() * (65) + 1945))

In [61]:
df_nomes.show()

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
|   Frances Bennet| Fundamental|   Brasil|         1990|
|    Jamie Russell|    Superior|  Uruguai|         2007|
|   Edward Kistler|    Superior| Colômbia|         1991|
|    Sheila Maurer| Fundamental| Paraguai|         1948|
| Donald Golightly| Fundamental| Paraguai|         1979|
|       David Gray|    Superior|  Uruguai|         1954|
|      Joy Bennett|       Medio| Colômbia|         1987|
|      Paul Kriese|       Medio|  Equador|         1974|
|Berniece Ornellas| Fundamental|Venezuela|         1959|
|    Brian Farrell|    Superior|   Brasil|         2007|
|   Kara Mcelwaine|       Medio| Paraguai|         1960|
|    Tracy Herring|    Superior|  Bolívia|         1971|
|  Howard Lazarine| Fundamental| Suriname|         1986|
|     Leroy Strahl|    Superior| Colômbia|         1974|
|     Ernest Hulet| Fundamental|   Brasil|         1972|
|     David Medina|    Superior| Suriname|         1982|
|   Lorenzo Woodis| Fundamental|Argentina|         1957|
|      Page Marthe| Fundamental|   Guiana|         1997|
|   Herbert Morris| Fundamental|Argentina|         1984|
|      Albert Leef|       Medio|   Guiana|         1969|
+-----------------+------------+---------+-------------+
only showing top 20 rows

In [62]:
df_select = df_nomes.select('Nomes', 'AnoNascimento').filter((df_nomes.AnoNascimento > 2001)&(df_nomes.AnoNascimento < 2100))

In [63]:
df_select.show(10)

+--------------------+-------------+
|               Nomes|AnoNascimento|
+--------------------+-------------+
|       Jamie Russell|         2007|
|       Brian Farrell|         2007|
|          Daryl Page|         2002|
|      Wilfredo Grant|         2004|
|     Jerry Chynoweth|         2002|
|         Lisa Baxley|         2005|
|        James Barton|         2004|
|Christopher Williams|         2007|
|     Suzanne Bullard|         2005|
|      Robert Andrews|         2004|
+--------------------+-------------+
only showing top 10 rows

In [64]:
df_nomes.createOrReplaceTempView("pessoas")
spark.sql("select * from pessoas").show()

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
|   Frances Bennet| Fundamental|   Brasil|         1990|
|    Jamie Russell|    Superior|  Uruguai|         2007|
|   Edward Kistler|    Superior| Colômbia|         1991|
|    Sheila Maurer| Fundamental| Paraguai|         1948|
| Donald Golightly| Fundamental| Paraguai|         1979|
|       David Gray|    Superior|  Uruguai|         1954|
|      Joy Bennett|       Medio| Colômbia|         1987|
|      Paul Kriese|       Medio|  Equador|         1974|
|Berniece Ornellas| Fundamental|Venezuela|         1959|
|    Brian Farrell|    Superior|   Brasil|         2007|
|   Kara Mcelwaine|       Medio| Paraguai|         1960|
|    Tracy Herring|    Superior|  Bolívia|         1971|
|  Howard Lazarine| Fundamental| Suriname|         1986|
|     Leroy Strahl|    Superior| Colômbia|         1974|
|     Ernest Hulet| Fundamental|   Brasil|         1972|
|     David Medina|    Superior| Suriname|         1982|
|   Lorenzo Woodis| Fundamental|Argentina|         1957|
|      Page Marthe| Fundamental|   Guiana|         1997|
|   Herbert Morris| Fundamental|Argentina|         1984|
|      Albert Leef|       Medio|   Guiana|         1969|
+-----------------+------------+---------+-------------+
only showing top 20 rows

In [74]:
millennials = df_nomes.groupBy('AnoNascimento').agg(count('Nomes')).where((col('AnoNascimento') >= 1980) & (col('AnoNascimento') <= 1994)).sort(desc('count(Nomes)'))

In [75]:
millennials.show()

+-------------+------------+
|AnoNascimento|count(Nomes)|
+-------------+------------+
|         1991|      154699|
|         1987|      154154|
|         1990|      154022|
|         1983|      153966|
|         1984|      153965|
|         1993|      153933|
|         1994|      153922|
|         1988|      153868|
|         1989|      153819|
|         1992|      153775|
|         1980|      153756|
|         1982|      153493|
|         1986|      153232|
|         1981|      153144|
|         1985|      152803|
+-------------+------------+

In [89]:
milleninals_sql = spark.sql("select AnoNascimento, count(Nomes) as conta_nomes from pessoas group by AnoNascimento having AnoNascimento >= 1980 and AnoNascimento <= 1994 order by conta_nomes desc")

In [90]:
milleninals_sql.show()

+-------------+-----------+
|AnoNascimento|conta_nomes|
+-------------+-----------+
|         1991|     154699|
|         1987|     154154|
|         1990|     154022|
|         1983|     153966|
|         1984|     153965|
|         1993|     153933|
|         1994|     153922|
|         1988|     153868|
|         1989|     153819|
|         1992|     153775|
|         1980|     153756|
|         1982|     153493|
|         1986|     153232|
|         1981|     153144|
|         1985|     152803|
+-------------+-----------+

In [144]:
df_geracoes = spark.sql("select Pais, case \
when AnoNascimento >= 1944 and AnoNascimento <= 1964 then 'Baby Boomers'\
when AnoNascimento >= 1965 and AnoNascimento <= 1979 then 'Geração X' \
when AnoNascimento >= 1980 and AnoNascimento <= 1994 then 'Millennials'\
when AnoNascimento >= 1995 and AnoNascimento <= 2015 then 'Geração Z' end as Geracao, count(Nomes) as Quantidade from pessoas group by Pais, Geracao order by Pais, Geracao, Quantidade")

In [145]:
df_geracoes.show(50)

+---------+------------+----------+
|     Pais|     Geracao|Quantidade|
+---------+------------+----------+
|Argentina|Baby Boomers|    257000|
|Argentina|   Geração X|    191841|
|Argentina|   Geração Z|    192287|
|Argentina| Millennials|    192762|
|  Bolívia|Baby Boomers|    255747|
|  Bolívia|   Geração X|    191903|
|  Bolívia|   Geração Z|    192263|
|  Bolívia| Millennials|    191514|
|   Brasil|Baby Boomers|    256137|
|   Brasil|   Geração X|    192619|
|   Brasil|   Geração Z|    192685|
|   Brasil| Millennials|    191307|
|    Chile|Baby Boomers|    256581|
|    Chile|   Geração X|    192611|
|    Chile|   Geração Z|    192251|
|    Chile| Millennials|    192179|
| Colômbia|Baby Boomers|    256419|
| Colômbia|   Geração X|    192558|
| Colômbia|   Geração Z|    193193|
| Colômbia| Millennials|    191963|
|  Equador|Baby Boomers|    256989|
|  Equador|   Geração X|    193025|
|  Equador|   Geração Z|    192859|
|  Equador| Millennials|    192316|
|   Guiana|Baby Boomers|    256454|
|   Guiana|   Geração X|    192273|
|   Guiana|   Geração Z|    192559|
|   Guiana| Millennials|    192406|
| Paraguai|Baby Boomers|    256744|
| Paraguai|   Geração X|    192413|
| Paraguai|   Geração Z|    191631|
| Paraguai| Millennials|    192691|
|     Peru|Baby Boomers|    256480|
|     Peru|   Geração X|    192052|
|     Peru|   Geração Z|    191505|
|     Peru| Millennials|    192409|
| Suriname|Baby Boomers|    255246|
| Suriname|   Geração X|    192821|
| Suriname|   Geração Z|    192201|
| Suriname| Millennials|    191456|
|  Uruguai|Baby Boomers|    256371|
|  Uruguai|   Geração X|    192576|
|  Uruguai|   Geração Z|    192576|
|  Uruguai| Millennials|    192574|
|Venezuela|Baby Boomers|    255762|
|Venezuela|   Geração X|    192327|
|Venezuela|   Geração Z|    192490|
|Venezuela| Millennials|    192974|
+---------+------------+----------+